!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      = site_name
      \:
      = site_slogan
      \//
      = page_title
      = page_subtitle
    %meta{ :name => "Generator", :content => "Yoomee (Ruby on Rails)" }
    %meta{ :name => "robots", :content => "index, follow" }
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "info", :content => "#{page_title}#{page_subtitle}" }
    %link{ :href => "/images/favicon.ico", :rel => "shortcut icon" }
    = google_javascripts :jquery, :jqueryui
    = javascript_include_tag 'jrails', 'jquery.cycle', 'tramlines', 'jquery.labelify', :cache => true
    
    = javascript_include_tag "http://connect.facebook.net/en_US/all.js"
    
    = stylesheet_link_tag 'http://fast.fonts.com/cssapi/4d18a55f-896a-46c9-a509-6b06d325e32c.css'
    = stylesheet_link_tag 'client/styles'
    = stylesheet_link_tag 'jquery-ui'
    =# formtastic_stylesheet_link_tag
    =yield :head
    :javascript
      $(document).ready(function() {
        FB.init({
          appId  : '#{Facebooker2.app_id}',
          status : true, // check login status
          cookie : true, // enable cookies to allow the server to access the session
          xfbml  : true  // parse XFBML
        });
      });
  - body_tag do
    #wrapper
      #header
        =render :partial => 'layouts/header'
      #subheader
        #search_box
          %form{ :action => "/search/results", :method => "post" }
            %input#search_field{ :name => "term", :type => "text", :value => "Search", :onfocus => "var element = document.getElementById('search_field');element.value='';" }
            %input#search_icon{ :name => "commit", :title => "search", :value => "search" }      
        =render("layouts/nav")
        =render("layouts/subnav")
      #main.content
        =render_flash
        -unless true && hide_page_title?
          %h1#page_title=page_title
        = @content_for_layout
        %br.clear
      #footer
        =render :partial => 'layouts/footer'
    %div{:id => "fb-root"}        