-x = (FlipcolTemplate::X1 * 2) + FlipcolTemplate::MARGIN
-y = (FlipcolTemplate::Y1 * 2) + FlipcolTemplate::MARGIN
.flip.x2.y2
  .flip_border_top{:style => "background:#{flipitem.color}"}
  =link_to(image_or_photo_for(flipitem, "#{x}x#{y}#"),flipitem)
  -link_to(flipitem, :class => "hover flip_info", :style => "background-color:#{flipitem.color}") do
    .padding
      %h6 FESTIVAL 2012
      .text3{:style => "color:#{complementary_color(flipitem.color)}"}
        Presenting
        %br
        =flipitem
      .text3{:style => "color:#{complementary_color(flipitem.color)}"}
        =truncate(flipitem.bio, :length => 100)