-content_for(:head) do
  :css
    body {
      overflow-x: hidden;
    }
    #front_cover {
      min-height: 550px;
    }
    #front_cover .small_story {
      background-color: #1d2226;
      background-color: #{transparent_color('1d2226', 0.5)};*/
      background: url(/images/black_80.png);
    }
    #front_cover a.small_story:hover, #front_cover a#main_story:hover {
      text-decoration:none;
    }
    #front_cover a#main_story:hover .small_heading{
      color:#999;
      text-decoration:none;
    }
    #front_cover #main_story {
      background: ##{@front_cover.main_story_background_color};
      background-color: #{transparent_color(@front_cover.main_story_background_color, 0.75)};
    }
    #front_cover .bttn{
      font-family: 'VAG Rounded W02 Bold', arial, sans-serif;
      letter-spacing: 1px;
      font-size: 11px;
      padding: 2px 12px;
      color: white;
      line-height:17px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
    }
    #supersize {
      /*position: fixed;*/
      position: absolute;
      left: 0;
      overflow: hidden;
    }

    #supersize img {
      height:100%;
      position:absolute;
      width:100%;
      z-index:-1;
      max-width: none;
    }
    #footer {
      display: none;
    }
    
    #iamsterdam {
      display: none;
      position: absolute;
    }
    
    #sponsors {
      display: none;
      position: absolute;
      width: 100%;
    }
  :javascript
    (function($,sr){

      // debouncing function from John Hann
      // http://unscriptable.com/index.php/2009/03/20/debouncing-javascript-methods/
      var debounce = function (func, threshold, execAsap) {
        execAsap = true;
          var timeout;

          return function debounced () {
              var obj = this, args = arguments;
              function delayed () {
                  if (!execAsap)
                      func.apply(obj, args);
                  timeout = null; 
              };

              if (timeout)
                  clearTimeout(timeout);
              else if (execAsap)
                  func.apply(obj, args);

              timeout = setTimeout(delayed, threshold || 50); 
          };
      }
    	// smartresize 
    	jQuery.fn[sr] = function(fn){  return fn ? this.bind('resize', debounce(fn)) : this.trigger(sr); };

    })(jQuery,'smartresize');
  
  
    (function($){
      //Resize image on ready or resize
      $.fn.supersize = function() {   
        //Invoke the resizenow() function on document ready
        $(document).ready(function() {
          $('#supersize').resizenow(); 
        });
        //Invoke the resizenow() function on browser resize
        $(window).smartresize(function() {
          $('#supersize').resizenow(); 
        });
      };
      //Adjust image size
      $.fn.resizenow = function() {
        $('#iamsterdam').hide();
        $('#sponsors').hide();
        //Define starting width and height values for the original image
        var startwidth = #{@front_cover.image.width};  
        var startheight = #{@front_cover.image.height};
        //Define image ratio
        var ratio = startheight/startwidth;
        //Gather browser dimensions
        var browserwidth = $(window).width();
        var browserheight = $(window).height();
        var headerheight = $('#logo_and_nav').height() == 0 ? 104 : 52;
        var portheight = browserheight - headerheight;
        if (browserwidth > 770) {
          //Resize image to proper ratio
          if ((portheight/browserwidth) > ratio) {
            $(this).height(portheight);
            $(this).width(portheight / ratio);
            $(this).children().height(portheight);
            $(this).children().width(portheight / ratio);
          } else {
            $(this).width(browserwidth);
            $(this).height(browserwidth * ratio);
            $(this).children().width(browserwidth);
            $(this).children().height(browserwidth * ratio);
          }
          //Make sure the image stays center in the window
          $(this).children().css('left', (browserwidth - $(this).width())/2);
          /*$(this).children().css('top', (portheight - $(this).height())/2);*/
          var calcHeight = ((portheight - $(this).height()) / 2);
          $(this).css('top', calcHeight < headerheight ? calcHeight : headerheight);
        } else {
          $(this).width(browserwidth);
        }
        $('#iamsterdam').css('top', $(this).height() + $(this).position().top).show();
        $('#sponsors').css('top', $('#iamsterdam').position().top + $('#iamsterdam').height()).show();
      };
    })(jQuery);
    
    $(document).ready(function() {
      $('#supersize').supersize(); 
    });
-content_for(:under_header) do
  -unless is_mobile_device?
    #supersize
      =image_tag @front_cover.image.url
#front_cover
  -link_to(@front_cover.main_story_link_url, :id => "main_story") do
    -unless @front_cover.main_story_small_heading.blank?
      .small_heading=@front_cover.main_story_small_heading.upcase
    %h1=@front_cover.main_story_title
    -unless @front_cover.main_story_subtitle.blank?
      %h2=@front_cover.main_story_subtitle
    =simple_format @front_cover.main_story_text
    .bttn
      =@front_cover.main_story_link_text.upcase
  #small_stories
    -(1..3).each do |n|
      -link_to(small_story_link_url(@front_cover, n), :class => "small_story") do
        %h2=small_story_title(@front_cover, n)
        =simple_format small_story_text(@front_cover, n)
        .bttn
          =small_story_link_text(@front_cover, n).upcase