="Hi #{@recipient.forename},"
-important_email_content do
  -if (@shout.recipient != @recipient) && !(tags = (@recipient.tags_subscribed_to.collect(&:name) & @shout.tag_list)).empty?
    -suffix = " on the #{tags.count > 1 ? 'themes' : 'theme'}: #{tags.to_sentence}"
  -elsif @shout.recipient.is_a?(Member)
    -suffix = " on #{@shout.recipient.nil? ? 'their profile' : link_to("#{full_name_or_your(@shout.recipient)} profile", site_url + member_path(@shout.recipient))}"
  -elsif @shout.recipient
    -suffix = " on #{@shout.recipient}"
  %p
    ="#{link_to(@shout.member, site_url + member_path(@shout.member))} posted a #{@shout.has_attachable? ? @shout.attachable_type.titleize.downcase : 'message'}#{suffix}."
  -if !@shout.text.blank?
    %p="\"#{strip_tags(@shout.text)}\""
  %p="#{link_to("Click here", site_url + shout_path(:id => @shout.id, :read_notification => true))} to view it."

%p
  Thanks,
  %br
  ="The #{site_name} team,"
  %br
  =site_url