="Hi #{@recipient.forename},"

-if (@shout.recipient != @recipient) && !(tags = (@recipient.tags_subscribed_to.collect(&:name) & @shout.tag_list)).empty?
  -suffix = " on the #{tags.count > 1 ? 'themes' : 'theme'}: #{tags.to_sentence}."
-elsif @shout.recipient.is_a?(Member)
  -suffix = " on #{@shout.recipient.nil? ? 'their profile' : "#{full_name_or_your(@shout.recipient)} profile"}."
-elsif @shout.recipient
  -suffix = " on #{@shout.recipient}."
="#{@shout.member} posted a #{@shout.has_attachable? ? @shout.attachable_type.titleize.downcase : 'message'}#{suffix}."
-if !@shout.text.blank?
  ="\"#{strip_tags(@shout.text)}\""

Use the following link to view it:

=site_url + shout_path(:id => @shout.id, :read_notification => true)

Thanks,
="The #{site_name} team,"
=site_url