-active ||= ""
%li.conversation_types
  %span Attach
  =link_to_function("Photo", "ShoutForm.toggle_attachable('Photo' #{toggle_attachable_second_arg(shout)})", :class => "attach_photo conversation_type #{'active' if active == 'Photo'}")
  =link_to_function("Link", "ShoutForm.toggle_attachable('Link' #{toggle_attachable_second_arg(shout)})", :class => "attach_link conversation_type #{'active' if active == 'Link'}")
  =link_to_function("Video", "ShoutForm.toggle_attachable('Video' #{toggle_attachable_second_arg(shout)})", :class => "attach_video conversation_type #{'active' if active == 'Video'}")
  -if admin_logged_in? && shout.can_attach?(:poll_question)
    =link_to_function("Poll", "ShoutForm.toggle_attachable('PollQuestion' #{toggle_attachable_second_arg(shout)})", :class => "attach_poll conversation_type #{'active' if active == 'PollQuestion'}")