-content_for :head do
  :javascript
    var Programme = {
      day: #{@date.day - 13},
      scroll: function(forward) {
        var newDay = Programme.day;
        if (forward && (Programme.day < 3)){
          newDay = Programme.day + 1;
        } else if (!forward && (Programme.day > 1)) {
          newDay = Programme.day - 1;
        }
        if (newDay != Programme.day) {
          $('#timetable_inner').animate({'left':(1 - newDay) * 1000}, 1000, 'easeInOutCirc');
          $('#active_border').animate({'left':(newDay - 1) * 333}, 1000, 'easeInOutCirc');
          switch(newDay){
            case 1:$('#go_back_link').fadeOut('slow');break;
            case 2:$('#go_back_link:hidden').fadeIn('slow');$('#go_forward_link:hidden').fadeIn('slow');break;
            case 3:$('#go_forward_link').fadeOut('slow');break;
          }
          Programme.day = newDay;
        }
      }
    };
    
-no_content_row
-title "Programme", :hidden => true
.row
  .twelvecol.last
    #programme_days
      -(Date.parse("2011-09-14")..Date.parse("2011-09-16")).each do |date|
        .programme_day
          =date.strftime("%a %e %B")
      #active_border{:style => "left:#{(@date.day-14)*333}px;"}
    #programme_wrapper
      .arrow
        =link_to_function("<", "Programme.scroll(false)", :id => "go_back_link", :style => "display:#{@date.day < 15 ? 'none' : 'block'}")
      #timetable_outer
        #timetable_inner{:style => "left:#{(14-@date.day)*1000}px;"}
          -(Date.parse("2011-09-14")..Date.parse("2011-09-16")).each do |date|
            .timetable{:id => "timetable_#{date.day}"}
              .prog_row.hours
                .prog_col.first
                -(9..19).each do |hour|
                  .prog_col{:class => "#{'last' if hour == 19}"}
                    %span.hour="%02d:00" % hour
              -@venues.each do |venue|
                -sessions = venue.sessions.on_date(date)
                .prog_row
                  .prog_col.first=link_to_self(venue)
                  -(9..19).each do |hour|
                    .prog_col{:class => "#{'last' if hour == 19}"}
                      -sessions.select{|s| s.starts_at.hour == hour}.each do |session|
                        -link_to(session, :class => 'session') do
                          =session
      .arrow
        =link_to_function(">", "Programme.scroll(true)", :id => "go_forward_link", :style => "display:#{@date.day > 15 ? 'none' : 'block'}")
      

  