-content_for :head do
  :javascript
    $(document).ready(function() {
      $('.session').hover(
        function(){
          if (!$(this).hasClass('hover')){
            $(this).addClass('hover');
            $(this).animate({'width':235,'height':150}, 0, 'easeInOutCirc');
          }
        },
        function(){
          if ($(this).hasClass('hover') && !$(this).hasClass('closing')){        
            $(this).addClass('closing');
            $(this).animate({'width':parseInt($(this).attr("data-width")),'height':parseInt($(this).attr("data-height"))},  0, 'easeInOutCirc', function(){
              $(this).removeClass('hover');
              $(this).removeClass('closing');
            });
          }
        }
      );  
    });

-no_content_row
-title "Programme", :hidden => true
#prog_container
  .row
    .twelvecol
      #prog_header.fl
        .day.fl
          %h1="Day #{@conference.day(@date)}"
          %p=@date.strftime("%A %e %B")
        .controls.fr
          =link_to_function("<","Programme.scroll(false)", :id => "go_back_link", :class=>"fl", :style => "display:#{@conference.day(@date) > 1 ? 'block' : 'none'}")
          =link_to_function(">","Programme.scroll(true)", :id => "go_forward_link", :class=>"fr", :style => "display:#{@conference.day(@date) < @conference.days.count ? 'block' : 'none'}")
      #prog_hours
        .col_title
          &larr;
        .hours
          -(9..19).each do |hour|
            .hour="%d:00" % hour
        .col_title
          &larr;
      #prog_wrapper.timetable
        #venue_cols
          -@venues.each do |venue|
            .venue_col
              .col_title.top=venue
              -venue.sessions.on_date(@conference.days.first).each do |session|
                -height = (session.duration_in_hours * 100).round - 2
                -link_to(session, :class => 'session', :style => "top:#{((session.starts_at_offset(9)*100).round) + 40}px;height:#{height}px") do
                  .session_content
                    .title=session
                    .details
                      ="#{session.starts_at.strftime("%H:%M")} - #{session.ends_at.strftime("%H:%M")}"
                      %br
                      =session.description.word_truncate(150)
              
              .col_title.bottom=venue
              
            -#@conference.days.each_with_index do |day, idx|
              .timetable{:id => "timetable_day_#{idx+1}", :style => "display:#{@date == day ? 'block' : 'none'}"}
                -@venues.each do |venue|
                  -sessions_by_hour = venue.sessions.on_date(day).group_by{|s|s.starts_at.hour}
                  .prog_col
                    -sessions_by_hour.each do |hour, sessions|
                      -height = (90.0/sessions.size).to_i - 10
                      -offset = (90.0/sessions.size).to_i
                      -sessions.each_with_index do |session, idx|
                        -width = (session.duration_in_whole_hours * 80) - 11
                        -link_to(session, :class => 'session', :style => "left:#{(hour - 9)*80}px;top:#{(idx*offset)-1}px;height:#{height}px;width:#{width}px", "data-height" => height, "data-width" => width) do
                          .title=session
                          .details
                            ="#{session.starts_at.strftime("%H:%M")} - #{session.ends_at.strftime("%H:%M")}"
                            %br
                            =session.description.word_truncate(150)
.row
  .twelvecol
  -options_panel do
    =back_link
    =link_if_allowed "Edit conference", edit_conference_proc(@conference)
    =link_if_allowed "Delete conference", conference_proc(@conference), :method => :delete, :confirm => "Are you sure? All the events at this conference will be deleted."
    =link_if_allowed "New session at this conference", new_conference_conference_session_proc(@conference)
    
  
  
  
  
  
      

  